* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

html {
    font-family: Arial, Helvetica, sans-serif;
   
}

/* .fully {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: .5;
} */
main {
    /* have you used em for sizing? Responsive text sizing */
    max-width: 1000px;
    margin: 0 auto;
}

.navContent {
    margin-left: 10%; 
}

.navbar-brand {
    font-size: 20px;
}

.pNav {
    float: left;
    width: 23%;
    border: 2px solid gray;
    
}

.bod {
    margin-left: 25%;
    border: 2px solid gray;
    padding: 10px;
}

.recent {
    text-align: center;
}

.pNav, .bod, .thumbnail {
    background-color: rgb(248, 252, 245)
}

.galv {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    height: 330px;
}

/* this may be unused */
.wd {
    max-width: 700px;
}


